.grid-container {
    display: grid;
}

.grid-mastermind {
    grid-column: 1 / span 1;
    grid-row: 2;
}

.grid-scheme {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.grid-villain {
    grid-column: 3 / span 2;
    grid-row: 2;
}

.grid-henchmen {
    grid-column: 3 / span 2;
    grid-row: 3;
}

.grid-heroes {
    grid-column: 5 / span 2;
    grid-row: 2 / span 2;
}

@media (max-width: 1700px) {
    .grid-container {
        display: grid;
    }
    .grid-mastermind {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    
    .grid-scheme {
        grid-column: 3 / span 2;
        grid-row: 2;
    }
    
    .grid-villain {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    
    .grid-henchmen {
        grid-column: 3 / span 2;
        grid-row: 3;
    }
    
    .grid-heroes {
        grid-column: 1 / span 4;
        grid-row: 4;
    }
    
  }

@media (max-width: 1000px) {
    .grid-container {
        display: inline;
    }
    .grid-mastermind {
        grid-column: 1;
        grid-row: 2;
    }
    
    .grid-scheme {
        grid-column: 1;
        grid-row: 3;
    }

    .grid-villain {
        grid-column: 1;
        grid-row: 4;
    }
    
    .grid-henchmen {
        grid-column: 1;
        grid-row: 5;
    }
    .grid-heroes {
        grid-column: 1;
        grid-row: 6;
    }
    
  }