.Home-Page {
  text-align: center;
  font-family: Arial;
  font-size: 70%;
}

.Home-Page-Header {
  background-color: #2d3a55;
  color: white;
}

.Legendary-Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 554px;
  height: 198px;
}

.Title_Randomizer {
  font-family: Arial;
  font-size: 200%;
  color:#f8a11d;
  text-shadow: 2px 2px #000000;
  text-align: center;
  background-color: #2d3a55;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.SelectPlayerCard {
  background-color: #2d3a55;
  border-radius: 50px;
  margin: 10px;
  display: flex;
  width: 550px;
  vertical-align: middle;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.PlayerCard {
  font-family: Arial;
  color:#ffffff;
  background-color: #2d3a55;
  border-radius: 50px;
  margin: 10px;
  display: flex;
  width: 325px;
  vertical-align: middle;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.PlayerTitle {
  background-color: #2d3a55;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 20px;
  vertical-align: middle;
}

.NumberOfPlayers{
  font-family: Arial;
  font-size: 180%;
  color:#f8a11d;
  text-align: center;
  background-color: #2d3a55;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Selector {
  position: relative;
  font-family: Arial;
  background-color: #f8a11d;
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.SubmitButton {
  background-color: #f8a11d;
  border: 4px #d68102;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  transition-duration: 0.3s;
  border-radius: 50px;
}

.SubmitButton:hover {
  background-color: #f7c985;
  cursor: pointer;
}


.CreateGameButton {
  background-color: #f8a11d;
  border: 4px #d68102;
  color: #ffffff;
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  transition-duration: 0.3s;
  border-radius: 50px;
}

.CreateGameButton:hover {
  background-color: #f7c985;
  cursor: pointer;
}

.ExpansionsTitle {
  text-align: center;
  background-color: #2d3a55;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 20px;
  margin-top: 20px;
}

.Title {
  text-align: center;
  background-color: #2d3a55;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 20px;
  margin-top: 20px;
}

.CardName {
  font-size: 180%;
}
.CardDetails {
  font-size: 150%;
}

.MasterMindCard{
  font-family: Arial;
  color:#ffffff;
  text-shadow: 2px 1px #000000;
  background-color: #5d606d;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  max-width: 400px;
  overflow-wrap: normal;
}

.SchemeCard{
  font-family: Arial;
  color:#ffffff;
  text-shadow: 2px 1px #000000;
  background-color: #5d606d;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  max-width: 400px;
  overflow-wrap: normal;
}

.VillainCard{
  font-family: Arial;
  color:#ffffff;
  text-shadow: 2px 1px #000000;
  background-color: #5d606d;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: normal;
  min-width: 100px;
  max-width: 300px;
}

.HeroCard {
  font-family: Arial;
  color:#ffffff;
  text-shadow: 2px 1px #000000;
  background-color: #5d606d;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50px;
  margin: 10px;
  overflow-wrap: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.HeroName{
  font-size: 180%;
  padding-left: 5px;
  padding-right: 20px;
  text-align: left;
  vertical-align: middle;
}

.SetName{
  font-size: 150%;
  text-align: center;
}

.Faction{
  padding: 5px;
  width: 40px;
  vertical-align: middle;
}

.Logos {
  padding: 5px;
  width: 40px;
  vertical-align: middle;
}

/* Small Window Styling  */
@media (max-width: 700px) {
  .Logos {
    padding: 5px;
    width: 30px;
    vertical-align: middle;
  }
  .Faction{
    padding: 5px;
    width: 30px;
    vertical-align: middle;
  }
}

@media (max-width: 700px) {
  .Home-Page {
    text-align: center;
    font-family: Arial;
    font-size: 60%;
  }
  .Legendary-Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 332px;
    height: 119px;
  }
  .SelectPlayerCard {
    background-color: #2d3a55;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    width: 400px;
    vertical-align: middle;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .ExpansionsTitle {
    text-align: center;
    background-color: #2d3a55;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 20px;
    margin-top: 20px;
  }

  .Title {
    text-align: center;
    background-color: #2d3a55;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 20px;
    margin-top: 20px;
  }

  .MasterMindCard{
    font-family: Arial;
    color:#ffffff;
    text-shadow: 2px 1px #000000;
    background-color: #5d606d;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: normal;
    min-width: 200px;
    max-width: 400px;
  }

  .VillainCard{
    font-family: Arial;
    color:#ffffff;
    text-shadow: 2px 1px #000000;
    background-color: #5d606d;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    overflow-wrap: normal;
    min-width: 100px;
  }

  .HeroCard {
    font-family: Arial;
    color:#ffffff;
    text-shadow: 2px 1px #000000;
    background-color: #5d606d;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
    margin: 10px;
    overflow-wrap: normal;
    margin-left: auto;
    margin-right: auto;
    min-width: 450px;
    max-width: 500px;
  }
}
